@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-stretch: 75% 100%;
  font-style: oblique 0deg 20deg;
  font-weight: 1 999;
  src: url("../../assets/fonts/Inter.var.woff2") format("woff2 supports variations"), url("../../assets/fonts/Inter.var.woff2") format("woff2-variations");
}
/*
  Modern Reset
  See https://hankchizljaw.com/wrote/a-modern-css-reset/

  Note: This file uses some CSS variables and thus cannot be wholly updated via copy+paste.
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--font-body);
  font-size: var(--base-font-size);
  line-height: var(--font-content-line-height);
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
body,
:root {
  --mdn-color-white: #fff;
  --mdn-color-black: #000;
  --mdn-color-ads: #00d0aa;
  --mdn-color-background-highlight: #f0e498;
  --mdn-color-dark-grey: #4e4e4e;
  --mdn-background-dark: #1b1b1b;
  --mdn-background-light: #fff;
  --mdn-background-light-grey: #e2e2e2;
  --color-announcement-banner-accent: #ff6d91;
}

.light {
  --text-primary: #1b1b1b;
  --text-secondary: #4e4e4e;
  --text-inactive: #9e9e9ea6;
  --text-link: #0069c2;
  --text-invert: #fff;
  --background-primary: #fff;
  --background-secondary: #f9f9fb;
  --background-tertiary: #fff;
  --background-toc-active: #ebeaea;
  --background-mark-yellow: rgba(199, 183, 0, 0.4);
  --background-mark-green: rgba(0, 208, 97, 0.4);
  --background-information: rgba(0, 133, 242, 0.1);
  --background-warning: rgba(255, 42, 81, 0.1);
  --background-critical: rgba(211, 0, 56, 0.1);
  --background-success: rgba(0, 121, 54, 0.1);
  --border-primary: #cdcdcd;
  --border-secondary: #cdcdcd;
  --button-primary-default: #1b1b1b;
  --button-primary-hover: #696969;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #1b1b1b;
  --button-secondary-default: #fff;
  --button-secondary-hover: #cdcdcd;
  --button-secondary-active: #cdcdcd;
  --button-secondary-inactive: #f9f9fb;
  --button-secondary-border-focus: #0085f2;
  --button-secondary-border-red: #ff97a0;
  --button-secondary-border-red-focus: #ffd9dc;
  --icon-primary: #696969;
  --icon-secondary: #b3b3b3;
  --icon-information: #0085f2;
  --icon-warning: #ff2a51;
  --icon-critical: #d30038;
  --icon-success: #007936;
  --accent-primary: #0085f2;
  --accent-primary-engage: rgba(0, 133, 242, 0.1);
  --accent-secondary: #0085f2;
  --accent-tertiary: rgba(0, 133, 242, 0.1);
  --shadow-01: 0 1px 2px rgba(43, 42, 51, 0.05);
  --shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);
  --focus-01: 0 0 0 3px rgba(0, 144, 237, 0.4);
  --field-focus-border: #0085f2;
  --code-token-tag: #0069c2;
  --code-token-punctuation: #858585;
  --code-token-attribute-name: #d30038;
  --code-token-attribute-value: #007936;
  --code-token-comment: #858585;
  --code-token-default: #1b1b1b;
  --code-token-selector: #872bff;
  --code-background-inline: #f2f1f1;
  --code-background-block: #f2f1f1;
  --notecard-link-color: #343434;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(0, 0, 0, 0.25);
  --category-color: #0085f2;
  --category-color-background: #0085f210;
  --code-color: #5e9eff;
  --mark-color: #dce2f2;
  --plus-accent-color: #d30038;
  --html-accent-color: #d30038;
  --css-accent-color: #0069c2;
  --js-accent-color: #afa100;
  --http-accent-color: #007936;
  --apis-accent-color: #872bff;
  --learn-accent-color: #d00058;
  --plus-code-color: #0069c2;
  --html-code-color: #9e0027;
  --css-code-color: #0069c2;
  --js-code-color: #746a00;
  --http-code-color: #007936;
  --apis-code-color: #872bff;
  --learn-code-color: #d00058;
  --plus-mark-color: #ffd9dc;
  --html-mark-color: #ffd9dc;
  --css-mark-color: #dce2f2;
  --js-mark-color: #f0e498;
  --http-mark-color: #a9f3ba;
  --apis-mark-color: #e6deff;
  --learn-mark-color: #ffd9df;
  --plus-accent-background-color: #ff2a5130;
  --html-accent-background-color: #ff2a5130;
  --css-accent-background-color: #0085f230;
  --js-accent-background-color: #93870030;
  --http-accent-background-color: #009a4630;
  --apis-accent-background-color: #9b65ff30;
  --learn-accent-background-color: #ff1f7230;
  --plus-accent-engage: rgba(255, 42, 81, 0.7);
  --html-accent-engage: rgba(255, 42, 81, 0.7);
  --css-accent-engage: rgba(0, 133, 242, 0.7);
  --js-accent-engage: rgba(147, 135, 0, 0.7);
  --http-accent-engage: rgba(0, 154, 70, 0.7);
  --apis-accent-engage: rgba(155, 101, 255, 0.7);
  --learn-accent-engage: rgba(255, 31, 114, 0.7);
  --modal-backdrop-color: rgba(27, 27, 27, 0.1);
  --blend-color: #fff80;
  --text-primary-red: #d30038;
  --text-primary-green: #007936;
  --text-primary-blue: #0069c2;
  --text-primary-yellow: #746a00;
  --collections-link: #9e0027;
  --collections-header: #ffd9dc;
  --collections-mandala: #ff97a0;
  --collections-icon: #ff2a51;
  --updates-link: #0069c2;
  --updates-header: #f9f9fb;
  --updates-mandala: #8cb4ff;
  --updates-icon: #0085f2;
  --ai-help-link: #007936;
  --ai-help-header: #f9f9fb;
  --ai-help-mandala: #00d061;
  --ai-help-icon: #009a46;
  --form-limit-color: #696969;
  --form-limit-color-emphasis: #4e4e4e;
  --form-invalid-color: #d30038;
  --form-invalid-focus-color: #ff2a51;
  --form-invalid-focus-effect-color: rgba(255, 42, 81, 0.2);
  --baseline-supported-bg: #e6f4ea;
  --baseline-supported-engine-bg: #ceead6;
  --baseline-supported-img: url("../../assets/icons/baseline/check.svg");
  --baseline-unsupported-bg: #f1f3f4;
  --baseline-unsupported-engine-bg: #e3e6e8;
  --baseline-unsupported-img: url("../../assets/icons/baseline/cross.svg");
  --baseline-browser-supported-bg: #1e8e3e;
  --baseline-browser-unsupported-bg: #666;
  color-scheme: light;
}

.dark {
  --text-primary: #fff;
  --text-secondary: #cdcdcd;
  --text-inactive: #cdcdcda6;
  --text-link: #8cb4ff;
  --text-invert: #1b1b1b;
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --background-tertiary: #4e4e4e;
  --background-toc-active: #343434;
  --background-mark-yellow: rgba(199, 183, 0, 0.4);
  --background-mark-green: rgba(0, 208, 97, 0.4);
  --background-information: rgba(0, 133, 242, 0.1);
  --background-warning: rgba(255, 42, 81, 0.1);
  --background-critical: rgba(211, 0, 56, 0.1);
  --background-success: rgba(0, 121, 54, 0.1);
  --border-primary: #858585;
  --border-secondary: #696969;
  --button-primary-default: #fff;
  --button-primary-hover: #cdcdcd;
  --button-primary-active: #9e9e9e;
  --button-primary-inactive: #fff;
  --button-secondary-default: #4e4e4e;
  --button-secondary-hover: #858585;
  --button-secondary-active: #9e9e9e;
  --button-secondary-inactive: #4e4e4e;
  --button-secondary-border-focus: #0085f2;
  --button-secondary-border-red: #ff97a0;
  --button-secondary-border-red-focus: #ffd9dc;
  --icon-primary: #fff;
  --icon-secondary: #b3b3b3;
  --icon-information: #5e9eff;
  --icon-warning: #afa100;
  --icon-critical: #ff707f;
  --icon-success: #00b755;
  --accent-primary: #5e9eff;
  --accent-primary-engage: rgba(94, 158, 255, 0.1);
  --accent-secondary: #5e9eff;
  --accent-tertiary: rgba(0, 133, 242, 0.1);
  --shadow-01: 0 1px 2px rgba(251, 251, 254, 0.2);
  --shadow-02: 0 1px 6px rgba(251, 251, 254, 0.2);
  --focus-01: 0 0 0 3px rgba(251, 251, 254, 0.5);
  --field-focus-border: #fff;
  --code-token-tag: #c1cff1;
  --code-token-punctuation: #b3b3b3;
  --code-token-attribute-name: #ff97a0;
  --code-token-attribute-value: #00d061;
  --code-token-comment: #b3b3b3;
  --code-token-default: #fff;
  --code-token-selector: #bea5ff;
  --code-background-inline: #343434;
  --code-background-block: #343434;
  --notecard-link-color: #e2e2e2;
  --scrollbar-bg: transparent;
  --scrollbar-color: rgba(255, 255, 255, 0.25);
  --category-color: #8cb4ff;
  --category-color-background: #8cb4ff70;
  --code-color: #c1cff1;
  --mark-color: #004d92;
  --plus-accent-color: #ff97a0;
  --html-accent-color: #ff707f;
  --css-accent-color: #8cb4ff;
  --js-accent-color: #afa100;
  --http-accent-color: #00b755;
  --apis-accent-color: #ae8aff;
  --learn-accent-color: #ff6d91;
  --plus-code-color: #c1cff1;
  --html-code-color: #f9f9fb;
  --css-code-color: #c1cff1;
  --js-code-color: #c7b700;
  --http-code-color: #00d061;
  --apis-code-color: #bea5ff;
  --learn-code-color: #ff93aa;
  --plus-mark-color: #9e0027;
  --html-mark-color: #9e0027;
  --css-mark-color: #004d92;
  --js-mark-color: #564e00;
  --http-mark-color: #005a26;
  --apis-mark-color: #6800cf;
  --learn-mark-color: #9e0041;
  --plus-accent-background-color: #ff2a5130;
  --html-accent-background-color: #ff2a5130;
  --css-accent-background-color: #0085f230;
  --js-accent-background-color: #93870030;
  --http-accent-background-color: #009a4630;
  --apis-accent-background-color: #9b65ff30;
  --learn-accent-background-color: #ff1f7230;
  --plus-accent-engage: rgba(255, 112, 127, 0.7);
  --html-accent-engage: rgba(255, 112, 127, 0.7);
  --css-accent-engage: rgba(140, 180, 255, 0.7);
  --js-accent-engage: rgba(175, 161, 0, 0.7);
  --http-accent-engage: rgba(0, 183, 85, 0.7);
  --apis-accent-engage: rgba(174, 138, 255, 0.7);
  --learn-accent-engage: rgba(255, 109, 145, 0.7);
  --modal-backdrop-color: rgba(27, 27, 27, 0.7);
  --blend-color: #00080;
  --text-primary-red: #ff97a0;
  --text-primary-green: #00d061;
  --text-primary-blue: #8cb4ff;
  --text-primary-yellow: #c7b700;
  --collections-link: #ff97a0;
  --collections-header: #40000a;
  --collections-mandala: #9e0027;
  --collections-icon: #d30038;
  --updates-link: #8cb4ff;
  --updates-header: #000;
  --updates-mandala: #c1cff1;
  --updates-icon: #8cb4ff;
  --ai-help-link: #00d061;
  --ai-help-header: #000;
  --ai-help-mandala: #73e693;
  --ai-help-icon: #00d061;
  --form-limit-color: #9e9e9e;
  --form-limit-color-emphasis: #b3b3b3;
  --form-invalid-color: #ff97a0;
  --form-invalid-focus-color: #ff707f;
  --form-invalid-focus-effect-color: rgba(255, 112, 127, 0.2);
  --baseline-supported-bg: #0e2a10;
  --baseline-supported-engine-bg: #031b05;
  --baseline-supported-img: url("../../assets/icons/baseline/check-dark.svg");
  --baseline-unsupported-bg: #282a2c;
  --baseline-unsupported-engine-bg: #1d1e1f;
  --baseline-unsupported-img: url("../../assets/icons/baseline/cross-dark.svg");
  --baseline-browser-supported-bg: #5bb974;
  --baseline-browser-unsupported-bg: #9aa0a6;
  color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --text-primary: #1b1b1b;
    --text-secondary: #4e4e4e;
    --text-inactive: #9e9e9ea6;
    --text-link: #0069c2;
    --text-invert: #fff;
    --background-primary: #fff;
    --background-secondary: #f9f9fb;
    --background-tertiary: #fff;
    --background-toc-active: #ebeaea;
    --background-mark-yellow: rgba(199, 183, 0, 0.4);
    --background-mark-green: rgba(0, 208, 97, 0.4);
    --background-information: rgba(0, 133, 242, 0.1);
    --background-warning: rgba(255, 42, 81, 0.1);
    --background-critical: rgba(211, 0, 56, 0.1);
    --background-success: rgba(0, 121, 54, 0.1);
    --border-primary: #cdcdcd;
    --border-secondary: #cdcdcd;
    --button-primary-default: #1b1b1b;
    --button-primary-hover: #696969;
    --button-primary-active: #9e9e9e;
    --button-primary-inactive: #1b1b1b;
    --button-secondary-default: #fff;
    --button-secondary-hover: #cdcdcd;
    --button-secondary-active: #cdcdcd;
    --button-secondary-inactive: #f9f9fb;
    --button-secondary-border-focus: #0085f2;
    --button-secondary-border-red: #ff97a0;
    --button-secondary-border-red-focus: #ffd9dc;
    --icon-primary: #696969;
    --icon-secondary: #b3b3b3;
    --icon-information: #0085f2;
    --icon-warning: #ff2a51;
    --icon-critical: #d30038;
    --icon-success: #007936;
    --accent-primary: #0085f2;
    --accent-primary-engage: rgba(0, 133, 242, 0.1);
    --accent-secondary: #0085f2;
    --accent-tertiary: rgba(0, 133, 242, 0.1);
    --shadow-01: 0 1px 2px rgba(43, 42, 51, 0.05);
    --shadow-02: 0 1px 6px rgba(43, 42, 51, 0.1);
    --focus-01: 0 0 0 3px rgba(0, 144, 237, 0.4);
    --field-focus-border: #0085f2;
    --code-token-tag: #0069c2;
    --code-token-punctuation: #858585;
    --code-token-attribute-name: #d30038;
    --code-token-attribute-value: #007936;
    --code-token-comment: #858585;
    --code-token-default: #1b1b1b;
    --code-token-selector: #872bff;
    --code-background-inline: #f2f1f1;
    --code-background-block: #f2f1f1;
    --notecard-link-color: #343434;
    --scrollbar-bg: transparent;
    --scrollbar-color: rgba(0, 0, 0, 0.25);
    --category-color: #0085f2;
    --category-color-background: #0085f210;
    --code-color: #5e9eff;
    --mark-color: #dce2f2;
    --plus-accent-color: #d30038;
    --html-accent-color: #d30038;
    --css-accent-color: #0069c2;
    --js-accent-color: #afa100;
    --http-accent-color: #007936;
    --apis-accent-color: #872bff;
    --learn-accent-color: #d00058;
    --plus-code-color: #0069c2;
    --html-code-color: #9e0027;
    --css-code-color: #0069c2;
    --js-code-color: #746a00;
    --http-code-color: #007936;
    --apis-code-color: #872bff;
    --learn-code-color: #d00058;
    --plus-mark-color: #ffd9dc;
    --html-mark-color: #ffd9dc;
    --css-mark-color: #dce2f2;
    --js-mark-color: #f0e498;
    --http-mark-color: #a9f3ba;
    --apis-mark-color: #e6deff;
    --learn-mark-color: #ffd9df;
    --plus-accent-background-color: #ff2a5130;
    --html-accent-background-color: #ff2a5130;
    --css-accent-background-color: #0085f230;
    --js-accent-background-color: #93870030;
    --http-accent-background-color: #009a4630;
    --apis-accent-background-color: #9b65ff30;
    --learn-accent-background-color: #ff1f7230;
    --plus-accent-engage: rgba(255, 42, 81, 0.7);
    --html-accent-engage: rgba(255, 42, 81, 0.7);
    --css-accent-engage: rgba(0, 133, 242, 0.7);
    --js-accent-engage: rgba(147, 135, 0, 0.7);
    --http-accent-engage: rgba(0, 154, 70, 0.7);
    --apis-accent-engage: rgba(155, 101, 255, 0.7);
    --learn-accent-engage: rgba(255, 31, 114, 0.7);
    --modal-backdrop-color: rgba(27, 27, 27, 0.1);
    --blend-color: #fff80;
    --text-primary-red: #d30038;
    --text-primary-green: #007936;
    --text-primary-blue: #0069c2;
    --text-primary-yellow: #746a00;
    --collections-link: #9e0027;
    --collections-header: #ffd9dc;
    --collections-mandala: #ff97a0;
    --collections-icon: #ff2a51;
    --updates-link: #0069c2;
    --updates-header: #f9f9fb;
    --updates-mandala: #8cb4ff;
    --updates-icon: #0085f2;
    --ai-help-link: #007936;
    --ai-help-header: #f9f9fb;
    --ai-help-mandala: #00d061;
    --ai-help-icon: #009a46;
    --form-limit-color: #696969;
    --form-limit-color-emphasis: #4e4e4e;
    --form-invalid-color: #d30038;
    --form-invalid-focus-color: #ff2a51;
    --form-invalid-focus-effect-color: rgba(255, 42, 81, 0.2);
    --baseline-supported-bg: #e6f4ea;
    --baseline-supported-engine-bg: #ceead6;
    --baseline-supported-img: url("../../assets/icons/baseline/check.svg");
    --baseline-unsupported-bg: #f1f3f4;
    --baseline-unsupported-engine-bg: #e3e6e8;
    --baseline-unsupported-img: url("../../assets/icons/baseline/cross.svg");
    --baseline-browser-supported-bg: #1e8e3e;
    --baseline-browser-unsupported-bg: #666;
    color-scheme: light;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --text-primary: #fff;
    --text-secondary: #cdcdcd;
    --text-inactive: #cdcdcda6;
    --text-link: #8cb4ff;
    --text-invert: #1b1b1b;
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
    --background-tertiary: #4e4e4e;
    --background-toc-active: #343434;
    --background-mark-yellow: rgba(199, 183, 0, 0.4);
    --background-mark-green: rgba(0, 208, 97, 0.4);
    --background-information: rgba(0, 133, 242, 0.1);
    --background-warning: rgba(255, 42, 81, 0.1);
    --background-critical: rgba(211, 0, 56, 0.1);
    --background-success: rgba(0, 121, 54, 0.1);
    --border-primary: #858585;
    --border-secondary: #696969;
    --button-primary-default: #fff;
    --button-primary-hover: #cdcdcd;
    --button-primary-active: #9e9e9e;
    --button-primary-inactive: #fff;
    --button-secondary-default: #4e4e4e;
    --button-secondary-hover: #858585;
    --button-secondary-active: #9e9e9e;
    --button-secondary-inactive: #4e4e4e;
    --button-secondary-border-focus: #0085f2;
    --button-secondary-border-red: #ff97a0;
    --button-secondary-border-red-focus: #ffd9dc;
    --icon-primary: #fff;
    --icon-secondary: #b3b3b3;
    --icon-information: #5e9eff;
    --icon-warning: #afa100;
    --icon-critical: #ff707f;
    --icon-success: #00b755;
    --accent-primary: #5e9eff;
    --accent-primary-engage: rgba(94, 158, 255, 0.1);
    --accent-secondary: #5e9eff;
    --accent-tertiary: rgba(0, 133, 242, 0.1);
    --shadow-01: 0 1px 2px rgba(251, 251, 254, 0.2);
    --shadow-02: 0 1px 6px rgba(251, 251, 254, 0.2);
    --focus-01: 0 0 0 3px rgba(251, 251, 254, 0.5);
    --field-focus-border: #fff;
    --code-token-tag: #c1cff1;
    --code-token-punctuation: #b3b3b3;
    --code-token-attribute-name: #ff97a0;
    --code-token-attribute-value: #00d061;
    --code-token-comment: #b3b3b3;
    --code-token-default: #fff;
    --code-token-selector: #bea5ff;
    --code-background-inline: #343434;
    --code-background-block: #343434;
    --notecard-link-color: #e2e2e2;
    --scrollbar-bg: transparent;
    --scrollbar-color: rgba(255, 255, 255, 0.25);
    --category-color: #8cb4ff;
    --category-color-background: #8cb4ff70;
    --code-color: #c1cff1;
    --mark-color: #004d92;
    --plus-accent-color: #ff97a0;
    --html-accent-color: #ff707f;
    --css-accent-color: #8cb4ff;
    --js-accent-color: #afa100;
    --http-accent-color: #00b755;
    --apis-accent-color: #ae8aff;
    --learn-accent-color: #ff6d91;
    --plus-code-color: #c1cff1;
    --html-code-color: #f9f9fb;
    --css-code-color: #c1cff1;
    --js-code-color: #c7b700;
    --http-code-color: #00d061;
    --apis-code-color: #bea5ff;
    --learn-code-color: #ff93aa;
    --plus-mark-color: #9e0027;
    --html-mark-color: #9e0027;
    --css-mark-color: #004d92;
    --js-mark-color: #564e00;
    --http-mark-color: #005a26;
    --apis-mark-color: #6800cf;
    --learn-mark-color: #9e0041;
    --plus-accent-background-color: #ff2a5130;
    --html-accent-background-color: #ff2a5130;
    --css-accent-background-color: #0085f230;
    --js-accent-background-color: #93870030;
    --http-accent-background-color: #009a4630;
    --apis-accent-background-color: #9b65ff30;
    --learn-accent-background-color: #ff1f7230;
    --plus-accent-engage: rgba(255, 112, 127, 0.7);
    --html-accent-engage: rgba(255, 112, 127, 0.7);
    --css-accent-engage: rgba(140, 180, 255, 0.7);
    --js-accent-engage: rgba(175, 161, 0, 0.7);
    --http-accent-engage: rgba(0, 183, 85, 0.7);
    --apis-accent-engage: rgba(174, 138, 255, 0.7);
    --learn-accent-engage: rgba(255, 109, 145, 0.7);
    --modal-backdrop-color: rgba(27, 27, 27, 0.7);
    --blend-color: #00080;
    --text-primary-red: #ff97a0;
    --text-primary-green: #00d061;
    --text-primary-blue: #8cb4ff;
    --text-primary-yellow: #c7b700;
    --collections-link: #ff97a0;
    --collections-header: #40000a;
    --collections-mandala: #9e0027;
    --collections-icon: #d30038;
    --updates-link: #8cb4ff;
    --updates-header: #000;
    --updates-mandala: #c1cff1;
    --updates-icon: #8cb4ff;
    --ai-help-link: #00d061;
    --ai-help-header: #000;
    --ai-help-mandala: #73e693;
    --ai-help-icon: #00d061;
    --form-limit-color: #9e9e9e;
    --form-limit-color-emphasis: #b3b3b3;
    --form-invalid-color: #ff97a0;
    --form-invalid-focus-color: #ff707f;
    --form-invalid-focus-effect-color: rgba(255, 112, 127, 0.2);
    --baseline-supported-bg: #0e2a10;
    --baseline-supported-engine-bg: #031b05;
    --baseline-supported-img: url("../../assets/icons/baseline/check-dark.svg");
    --baseline-unsupported-bg: #282a2c;
    --baseline-unsupported-engine-bg: #1d1e1f;
    --baseline-unsupported-img: url("../../assets/icons/baseline/cross-dark.svg");
    --baseline-browser-supported-bg: #5bb974;
    --baseline-browser-unsupported-bg: #9aa0a6;
    color-scheme: dark;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-token-comment);
}

.token.punctuation {
  color: var(--code-token-punctuation);
}

.token.attr-name,
.token.builtin,
.token.inserted,
.token.selector,
.token.property,
.token.class-name,
.token.function {
  color: var(--code-token-attribute-name);
}

.token.atrule,
.token.attr-value {
  color: var(--code-token-attribute-value);
}

.token.keyword {
  color: var(--code-token-tag);
}

.token.tag,
.token.char,
.token.string,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-token-attribute-value);
}

.token.selector,
.token.builtin,
.token.template-string > .token.string,
.token.inserted {
  color: var(--code-token-selector);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.notecard {
  --note-background: var(--background-information);
  --note-theme: var(--icon-information);
  background-color: var(--note-background);
  border: 1px solid var(--border-secondary);
  border-left: 4px solid var(--note-theme);
  border-radius: var(--elem-radius);
  box-shadow: var(--shadow-01);
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
.notecard,
.notecard p,
.notecard li {
  color: var(--text-secondary);
}
.notecard p {
  line-height: 2;
  margin: 0 !important;
}
.notecard:before {
  background-color: var(--note-theme);
  content: "";
  display: block;
  height: 1rem;
  left: 1rem;
  mask-image: url("../../../assets/icons/note-info.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  position: absolute;
  top: 1.5rem;
  width: 1rem;
}
.notecard.inline {
  font: var(--type-body-s);
  margin: 0.5rem;
  padding: 0.125rem 0.375rem 0.125rem 1.5rem;
}
.notecard.inline::before {
  display: block;
  height: 0.8rem;
  left: 0.2rem;
  top: 0.1875rem;
  width: 0.8rem;
}
.notecard.warning {
  --note-background: var(--background-warning);
  --note-theme: var(--icon-warning);
}
.notecard.warning:before {
  mask-image: url("../../../assets/icons/note-warning.svg");
}
.notecard.nonstandard {
  --note-background: var(--background-warning);
  --note-theme: var(--icon-warning);
}
.notecard.nonstandard:before {
  mask-image: url("../../../assets/icons/nonstandard.svg");
}
.notecard.error, .notecard.negative {
  --note-background: var(--background-critical);
  --note-theme: var(--icon-critical);
}
.notecard.error:before, .notecard.negative:before {
  mask-image: url("../../../assets/icons/note-deprecated.svg");
}
.notecard.deprecated {
  --note-background: var(--background-critical);
  --note-theme: var(--icon-critical);
}
.notecard.deprecated:before {
  mask-image: url("../../../assets/icons/deprecated.svg");
}
.notecard.experimental:before {
  mask-image: url("../../../assets/icons/experimental.svg");
}
.notecard.success {
  --note-background: var(--background-success);
  --note-theme: var(--icon-success);
}
.notecard.success:before {
  mask-image: url("../../../assets/icons/note-info.svg");
}
.notecard ul,
.notecard ol {
  padding-left: 2rem;
}
.notecard ul,
.notecard p {
  padding-bottom: 0.5rem;
}
.notecard ul:last-child,
.notecard p:last-child {
  padding-bottom: 0;
}
.notecard:last-of-type {
  margin-bottom: 2rem;
}
.notecard:first-of-type {
  margin-top: 2rem;
}
.notecard > *:first-child {
  margin-top: 0;
}
.notecard > *:last-child *:last-child {
  margin-bottom: 0;
}
.notecard h1,
.notecard h2,
.notecard h3,
.notecard h4,
.notecard h5,
.notecard h6 {
  color: var(--text-primary);
  font: var(--type-base-font-size-rem);
  margin-bottom: 0.5rem;
}

.main-content .notecard a:not(.button),
.main-content .notecard code {
  color: var(--notecard-link-color);
}
.main-content .notecard a:not(.button):hover,
.main-content .notecard code:hover {
  text-decoration: none;
}

.pagination {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
}
.pagination-label {
  font-size: var(--type-smaller-font-size);
}

button,
.button {
  appearance: none;
  background: none;
  border: none;
}

.button {
  --button-bg: var(--button-primary-default);
  --button-bg-hover: var(--button-primary-hover);
  --button-bg-active: var(--button-primary-active);
  --button-border-color: var(--button-primary-default);
  --button-focus-effect: var(--focus-effect);
  --button-height: var(--form-elem-height, 2rem);
  --button-color: var(--background-primary);
  --button-font: var(--type-emphasis-m);
  --button-padding: 0.5rem;
  --button-radius: var(--elem-radius, 0.25rem);
  border-radius: var(--button-radius);
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.button-wrap {
  align-items: center;
  background-color: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: var(--button-radius);
  color: var(--button-color);
  display: flex;
  font: var(--button-font);
  gap: 0.25rem;
  height: var(--button-height);
  justify-content: center;
  padding-left: var(--button-padding);
  padding-right: var(--button-padding);
  position: relative;
}

.button .icon {
  background-color: var(--button-color);
  margin: 0 -1px;
}

/* Button States */
.button:hover,
.button.hover {
  --button-border-color: var(--button-bg-hover, var(--button-bg));
}
.button:hover .button-wrap,
.button.hover .button-wrap {
  background-color: var(--button-bg-hover, var(--button-bg));
}

.button:active .button-wrap,
.button.active .button-wrap {
  background-color: var(--button-bg-active, var(--button-bg));
}

.button:focus,
.button.focus {
  outline: none;
}
.button:focus .button-wrap,
.button.focus .button-wrap {
  border: 1px solid var(--button-secondary-border-focus);
  box-shadow: var(--button-focus-effect);
}

.button.button[disabled],
.button.button.inactive {
  cursor: default;
  opacity: 0.65;
}
.button.button[disabled]:hover,
.button.button.inactive:hover {
  --button-bg-hover: unset;
}
.button.button[disabled]:active,
.button.button.inactive:active {
  --button-bg-active: unset;
}

/* Standard Button Modifiers */
.button.small,
.button.small .button-wrap {
  --button-height: 1.75rem;
  --button-padding: 0.25rem;
}

/* Secondary Version */
.button.secondary {
  --button-bg: var(--button-secondary-default);
  --button-border-color: var(--border-primary);
  --button-color: var(--text-secondary);
  --button-bg-hover: var(--button-secondary-hover);
  --button-bg-active: var(--button-secondary-active);
}
.button.secondary:focus {
  --button-border-color: var(--button-secondary-border-focus);
}

/* Action Version */
.button.action {
  --button-bg: transparent;
  --button-border-color: var(--button-bg);
  --button-color: var(--text-secondary);
  --button-font: var(--type-label-s);
  --button-bg-hover: var(--button-secondary-hover);
  --button-bg-active: var(--button-secondary-active);
}
.button.action.has-icon {
  --button-font: var(--type-emphasis-m);
  text-transform: initial;
}
.button.action:focus {
  --button-border-color: var(--button-secondary-border-focus);
}
.button.action .button-wrap {
  text-transform: var(--button-action-transform, uppercase);
}
.button.action.highlight {
  --button-color: var(--button-primary-default);
}

/* Select Version */
.button.select {
  --button-bg: var(--button-secondary-default);
  --button-bg-hover: var(--button-secondary-hover);
  --button-bg-active: var(--button-secondary-active);
  --button-border-color: var(--border-primary);
  --button-color: var(--text-secondary);
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
}
.button.select .button-wrap {
  box-shadow: var(--shadow-01);
  padding-right: 26px;
  position: relative;
}
.button.select .button-wrap::after {
  background-color: var(--icon-primary);
  content: "";
  display: block;
  height: 16px;
  mask-image: url("../../../assets/icons/small-arrow.svg");
  mask-size: cover;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 0.5rem);
  width: 16px;
}

.button.link {
  --button-bg: none;
  --button-bg-hover: none;
  --button-bg-active: none;
  --button-border-color: none;
  --button-focus-effect: none;
  --button-secondary-border-focus: none;
  --button-height: auto;
  --button-font: unset;
  --button-padding: 0;
  --button-radius: 0;
  --button-color: var(--text-link);
  appearance: none;
  display: inline;
  text-decoration: none;
}
.button.link:focus-visible {
  outline-color: var(--accent-primary);
  outline-offset: 1px;
  outline-style: auto;
}

/*
.high-contrast-white {
  .button:focus {
    --button-border-color: var(--border-primary);
    --button-focus-effect: 0 0 0 4px var(--background-primary),
      0 0 0 7px var(--border-primary);
  }
}

.high-contrast-black {
  .button:focus {
    --button-border-color: var(--border-primary);
    --button-focus-shadow: 0 0 0 4px var(--background-primary),
      0 0 0 7px var(--border-primary);
  }

  .button {
    --button-color: var(--button-secondary-default);
  }

  .button.secondary {
    --button-border-color: var(--button-color);
  }

  .button.action {
    --button-color: var(--text-secondary);
  }
}
*/
.mdn-form {
  font-family: var(--font-body);
  font-size: var(--type-smaller-font-size);
  font-weight: var(--font-body-strong-weight);
}

.mdn-form-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}
.mdn-form-item:first-child {
  padding-top: 0;
}
.mdn-form-item.is-button-row {
  display: flex;
  justify-content: flex-end;
}
.mdn-form-item.is-button-row .button {
  width: auto;
}
.mdn-form-item [type=text],
.mdn-form-item [type=email],
.mdn-form-item textarea,
.mdn-form-item select {
  background: var(--background-primary);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  flex: 1 1 100%;
  font-size: var(--type-smaller-font-size);
  min-width: 0;
  padding: 0.5rem;
}
.mdn-form-item [type=text]:focus,
.mdn-form-item [type=email]:focus,
.mdn-form-item textarea:focus,
.mdn-form-item select:focus {
  border: 1px solid var(--button-secondary-border-focus);
  box-shadow: var(--focus-effect);
  outline: 0 none;
}
.mdn-form-item select {
  appearance: none;
}
.mdn-form-item .select-wrap {
  display: flex;
  flex: 1 1 100%;
  position: relative;
}
.mdn-form-item .select-wrap::after {
  background-color: var(--icon-primary);
  content: "";
  display: block;
  height: 16px;
  mask-image: url("../../../assets/icons/small-arrow.svg");
  mask-size: cover;
  pointer-events: none;
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 0.5rem);
  width: 16px;
}
.mdn-form-item select,
.mdn-form-item label {
  text-overflow: ellipsis;
  width: 100%;
}
.mdn-form-item :invalid {
  border-color: var(--form-invalid-color);
}
.mdn-form-item :invalid:focus {
  border-color: var(--form-invalid-focus-color);
  box-shadow: 0 0 0 3px var(--form-invalid-focus-effect-color);
}
.mdn-form-item .limit {
  color: var(--form-limit-color);
  font-size: 0.6875rem;
  margin-left: auto;
}
.mdn-form-item .limit b {
  color: var(--form-limit-color-emphasis);
}
.mdn-form-item .limit.invalid b {
  color: var(--form-invalid-color);
}

.modal-body .mdn-form-item,
.mdn-form.mdn-form-big .mdn-form-item {
  padding-top: 1.5rem;
}
.modal-body .mdn-form-item:first-child,
.mdn-form.mdn-form-big .mdn-form-item:first-child {
  padding-top: 0;
}
.modal-body .mdn-form-item label,
.modal-body .mdn-form-item textarea,
.modal-body .mdn-form-item [type=text],
.modal-body .mdn-form-item [type=email],
.mdn-form.mdn-form-big .mdn-form-item label,
.mdn-form.mdn-form-big .mdn-form-item textarea,
.mdn-form.mdn-form-big .mdn-form-item [type=text],
.mdn-form.mdn-form-big .mdn-form-item [type=email] {
  font-size: 1rem;
  font-weight: normal;
}
.modal-body .button-wrap,
.mdn-form.mdn-form-big .button-wrap {
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  padding: 0.5rem 2rem;
}

/*
  Global :root variables, for those independent of themes
*/
:root {
  /* Typography */
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-body: Inter, var(--font-fallback);
  --font-heading: Inter, var(--font-fallback);
  --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --base-font-size: 100%;
  --base-line-height: 1.2;
  --intermediate-line-height: 1.5;
  --heading-line-height: var(--base-line-height);
  --heading-letter-spacing: -0.031rem;
  --font-content-line-height: 1.75;
  --font-body-strong-weight: 600;
  /* based on the following type-scale https://type-scale.com/?size=16&scale=1.200&text=MDN%20Web%20Docs&font=Inter&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
  --type-heading-h1-font-size: 2.488rem;
  --type-heading-h2-font-size: 2.074rem;
  --type-heading-h3-font-size: 1.728rem;
  --type-heading-h4-font-size: 1.44rem;
  --type-heading-h5-font-size: 1.2rem;
  --type-base-font-size-rem: 1rem;
  --type-smaller-font-size: 0.833rem;
  --type-tiny-font-size: 0.694rem;
  /* based on the following type-scale https://type-scale.com/?size=16&scale=1.125&text=MDN%20Web%20Docs&font=Inter&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
  --type-heading-h1-font-size-mobile: 1.802rem;
  --type-heading-h2-font-size-mobile: 1.602rem;
  --type-heading-h3-font-size-mobile: 1.424rem;
  --type-heading-h4-font-size-mobile: 1.266rem;
  --type-emphasis-m: var(--font-body-strong-weight)
    var(--type-smaller-font-size) / 1.23 var(--font-body);
  --type-label-s: 600 var(--type-tiny-font-size) / 1.2 var(--font-heading);
  --type-heading-h1: 600 var(--type-heading-h1-font-size-mobile) /
    var(--heading-line-height) var(--font-heading);
  --type-heading-h2: 500 var(--type-heading-h2-font-size-mobile) /
    var(--heading-line-height) var(--font-heading);
  --type-heading-h3: 300 var(--type-heading-h3-font-size-mobile) /
    var(--heading-line-height) var(--font-heading);
  --type-heading-h4: 400 var(--type-heading-h4-font-size-mobile) /
    var(--heading-line-height) var(--font-heading);
  --type-heading-h5: 400 var(--type-heading-h5-font-size) /
    var(--heading-line-height) var(--font-heading);
  --type-heading-h6: 400 var(--type-base-font-size-rem) /
    var(--heading-line-height) var(--font-heading);
  --type-article-p: 400 var(--type-base-font-size-rem) /
    var(--font-content-line-height) var(--font-body);
  /* Grid and Layout */
  --max-width: 1440px;
  --gutter: 1rem; /* Space between content and browser window */
  --top-navigation-height: 4rem;
  --top-navigation-offset: -4rem;
  --top-banner-inner-height: 3.125rem;
  --top-banner-height: calc(var(--top-banner-inner-height) + 2 * 0.125rem);
  --top-banner-outer-height: calc(var(--top-banner-height) + 2 * 1px);
  /* Z-Indexes
     Keep this in order, and avoid reusing variables so elements each
     exist on a distinct layer - we hit a lot of bugs if they don't */
  --z-index-a11y: 10000;
  --z-index-modal-content: 801;
  --z-index-modal-overlay: 800;
  --z-index-main-header: 700;
  --z-index-sidebar-mobile: 600;
  --z-index-mid: 500;
  --z-index-nav-menu: 200;
  --z-index-search-results: 101;
  --z-index-low: 100;
  --z-index-search-results-home: 99;
  --z-index-back: -1;
  /* Features */
  --elem-radius: 0.25rem;
  --focus-effect: 0 0 0 3px var(--accent-primary-engage);
  --form-elem-height: 2rem;
  /* Major Components */
  --top-nav-height: 4rem;
  --article-actions-container-height: 2rem;
  --icon-size: 1rem;
  --sticky-header-height: calc(
    var(--top-nav-height) + var(--article-actions-container-height) + 2px
  );
}

@media screen and (min-width: 769px) {
  :root {
    --type-heading-h1: 600 var(--type-heading-h1-font-size) /
      var(--heading-line-height) var(--font-heading);
    --type-heading-h2: 500 var(--type-heading-h2-font-size) /
      var(--heading-line-height) var(--font-heading);
    --type-heading-h3: 300 var(--type-heading-h3-font-size) /
      var(--heading-line-height) var(--font-heading);
    --type-heading-h4: 400 var(--type-heading-h4-font-size) /
      var(--heading-line-height) var(--font-heading);
  }
}
:target {
  scroll-margin-top: var(--sticky-header-height);
}

body {
  accent-color: var(--accent-primary);

  color: var(--text-invert);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
  
}
@media screen and (max-width: 769px) {
  body.mobile-overlay-active {
    overflow: hidden;
  }
}

:focus-visible {
  outline-color: var(--accent-primary);
  outline-offset: 1px;
  outline-style: auto;
}

main {
  display: flow-root;
  min-height: 80vh;
}

.about-container a:link, .about-container a:visited,
.main-page-content a:link,
.main-page-content a:visited {
  text-decoration: underline;
}
.about-container a:hover, .about-container a:focus,
.main-page-content a:hover,
.main-page-content a:focus {
  text-decoration: none;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

a {
  color: var(--text-link);
}
a.external:after {
  background-color: var(--icon-primary);
  content: "";
  display: inline-flex;
  height: 10px;
  margin-left: 4px;
  mask-image: url("./assets/icons/external.svg");
  mask-size: cover;
  width: 10px;
}

button.button[disabled],
input[disabled] {
  cursor: not-allowed;
}

.expand-this-link:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

[type=search] {
  /* clears the ‘X’ from Internet Explorer */
  /* clears the ‘X’ from Chrome */
}
[type=search]::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}
[type=search]::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}
[type=search]::-webkit-search-decoration, [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-results-button, [type=search]::-webkit-search-results-decoration {
  display: none;
}

u {
  text-decoration-color: var(--text-link);
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.1em;
}

.plus .dark,
.plus {
  --background-toc-active: var(--plus-accent-background-color);
  --text-link: var(--plus-accent-color);
  --category-color: var(--plus-accent-color);
  --category-color-engage: var(--plus-accent-engage);
  --category-color-background: var(--plus-accent-background-color);
  --code-color: var(--plus-code-color);
  --mark-color: var(--plus-mark-color);
}

.category-html {
  --background-toc-active: var(--html-accent-background-color);
  --category-color: var(--html-accent-color);
  --category-color-engage: var(--html-accent-engage);
  --category-color-background: var(--html-accent-background-color);
  --mark-color: var(--html-mark-color);
}

.category-css {
  --background-toc-active: var(--css-accent-background-color);
  --category-color: var(--css-accent-color);
  --category-color-engage: var(--css-accent-engage);
  --category-color-background: var(--css-accent-background-color);
  --mark-color: var(--css-mark-color);
}

.category-javascript {
  --background-toc-active: var(--js-accent-background-color);
  --category-color: var(--js-accent-color);
  --category-color-engage: var(--js-accent-engage);
  --category-color-background: var(--js-accent-background-color);
  --mark-color: var(--js-mark-color);
}

.category-http {
  --background-toc-active: var(--http-accent-background-color);
  --category-color: var(--http-accent-color);
  --category-color-engage: var(--http-accent-engage);
  --category-color-background: var(--http-accent-background-color);
  --mark-color: var(--http-mark-color);
}

.category-api {
  --background-toc-active: var(--apis-accent-background-color);
  --category-color: var(--apis-accent-color);
  --category-color-engage: var(--apis-accent-engage);
  --category-color-background: var(--apis-accent-background-color);
  --mark-color: var(--apis-mark-color);
}

.category-learn {
  --background-toc-active: var(--learn-accent-background-color);
  --category-color: var(--learn-accent-color);
  --category-color-engage: var(--learn-accent-engage);
  --category-color-background: var(--learn-accent-background-color);
  --mark-color: var(--api-mark-color);
}

.mify {
  margin-left: 0.5rem;
}
.mify::after {
  content: " ";
  text-decoration: underline;
  text-decoration-color: var(--text-link);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}
.mify::before {
  background-color: var(--text-link);
  content: "";
  display: inline-block;
  height: 1.2em;
  mask: url("../../assets/m-logo.svg") no-repeat 50% 50%;
  mask-size: cover;
  transform: translate(-0.2em, 0.2em);
  width: 1.2em;
}

._ify::after {
  content: " ";
  text-decoration: underline;
  text-decoration-color: var(--text-link);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

@media (forced-colors: active) {
  .icon {
    background-color: CanvasText !important;
  }
}
sup.new {
  background: var(--new-background);
  border-radius: 1em;
  color: var(--new-color);
  display: inline-block;
  font-size: 0.45rem;
  font-weight: bold;
  line-height: 1.7;
  padding: 0 0.4em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
sup.new.beta {
  background: var(--new-background-beta, var(--new-background));
}

/*# sourceMappingURL=app.css.map */
